<p>There are <span><%= @contacts.length %></span> contacts</p>

<% @contacts.each do |contact| %>
<ul>
  <li><p><%= contact.full_name %> (<%= contact.email %>)</p>
  <!-- <li><p><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</p> -->
    <a href="contacts/<%= contact.id %>">Edit</a>
    |
    <a href="contacts/<%= contact.id %>">Delete</a></li>
</ul>
<% end %>
