<% @contacts.each do |contact| %>
<ul>
  <li><p><%= contact.full_name %> (<%= contact.email %>)</p>
  <!-- <li><p><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</p> -->
    <a href="#">Edit</a>
    |
    <a href="#">Delete</a></li>
</ul>
<% end %>
